<label class="flex items-center mt-2 mb-1">
  <input class="form-radio mr-2 text-sky-600 bg-white border-gray-300 focus:ring-sky-500" type="radio" name="attributes[{{.index}}].value" value="true"{{if eq .data.Value true}} checked{{end}}>
  Ja
</label>

<label class="flex items-center mb-1">
  <input class="form-radio mr-2 text-sky-600 bg-white border-gray-300 focus:ring-sky-500" type="radio" name="attributes[{{.index}}].value" value="false"{{if eq .data.Value false}} checked{{end}}>
  Nee
</label>
